.hover-shadow {
    transition: all 0.3s ease;
}
.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.btn-xs.dropdown-toggle-split {
    padding: 0.15rem 0.4rem;
}
.current-usage {
    border: 2px solid #5e72e4 !important;
    box-shadow: 0 0 0 2px rgba(94, 114, 228, 0.5);
    position: relative;
}
.current-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #5e72e4de;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    z-index: 10;
}
.current-theme-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #5e72e4;
    border-radius: 50%;
    margin-right: 5px;
}
.update-badge {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f6c23ede;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    z-index: 10;
}
.update-badge.update-available {
    background-color: #ffc107;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}

.update-badge.update-available a {
    color: #fff;
    text-decoration: none;
}

.bg-upload {
  background-size: cover !important; 
  background-repeat: no-repeat !important;
  background-position: center !important;
}
  
